version: "3.9"

services:
  server:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: unless-stopped

  client:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - server
    restart: unless-stopped
